@import 'hero-image';

$spotify-dark-green: #1db954;
$spotify-light-green: #1ed760;

$font-main: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

body{
    font-size: 1.4em;
    font-family: $font-main;
}
.header{
    .navbar-light{
        .navbar-nav .nav-link{
            color: white;
            padding-left: 1em;
            &:hover{
                color: #ddd;
            }
        }
        .navbar-toggler{
            background-color: #555;
        }
    }
    nav{
        color: white;
        font-size: 1.2em;
        font-family: $font-main;
        .navbar-brand{
            padding-top: .5em;
        }
    }
}

.footer{
    background-color: #000;
    margin-top: 4em;
    padding-top: 4em;
    padding-bottom: 2em;
    font-size: 1.2em;
    a{
        color: white;
    }
    .col-social{
        li{
            list-style: none;
            padding: .5em;
            text-align: right;
        }
    }
    .footer-logo{
        font-size: 1.5em;
        a{
            &:hover{
                text-decoration: none;
            }
        }
    }
    .row.row-small{
        padding-top: 4em;
        font-size: .6em;
        a{
            color: #777777;
        }
    }
    .nav-title{
        color: #777777;
    }
}

.homepage{
    h1{
        margin-bottom: 2em;
    }
    h2{
    text-align: center;
    }
    p{
        font-size: 1.2em;
        text-align: center;
    }

    .btn{
        margin-right:0;
        font-size: 1em;
        color: #fff;
        line-height: 1;
        border: none;
        border-radius: 500px;
        padding: 18px 48px 16px;
        margin: 2em 0 2em 0;
        background-color: $spotify-dark-green;
        &:hover{
            background-color: $spotify-light-green;
        }
    }

    .spotify{
        text-decoration: none;
        color: #1db954;
        &:hover{
            color: green;
        }
    }
}

.question{
    form{
        border: 2px solid #222;
        border-radius: 20px;
        padding: 1em;
        margin-top: 2em;
        p{
            font-size: 1em;
        }
        input{
            width: 100%;
            padding:.2em;
            margin-bottom: 1em;
        }
    }
    .column-2{
        img{
            width: 100%;
            padding-top: 1em;
            border-radius: 2em;
        }
    }
}

.list{
    td.delete{
        text-align: center;
        width: 1em;
    }
}

.table.table-dark{
    background-color: #222;
    color: #eee;
    tr{
        td{
        border-bottom: 2px solid #333;
        }
    }
    a{
        color: #777;
        &:hover{
            color: #eee;
        }
    }
}